body {
  margin: 100px;
  align-items: center;
  color: black;
  background-color: aliceblue;
  background-image: url(images/thinker.jpg);
  background-size: contain;
  padding-bottom: 2em;
}

h1 {
  text-align: center;
  color: #fcfbfb;
  font-size: 3em;
  text-shadow: 2px 2px 4px #211f1f;
}

.quote1 {
  text-align: center;
  font-size: 1,5em;
}

.felipa-regular {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
}

.textbox {
  background-color: #f9f6f6;
  opacity: 70%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
}

.textbox2 {
  background-color: #f9f6f6;
  margin-left: 30%;
  opacity: 70%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
}
.button1 {
  float: right;
  padding: 4px;
  font-size: 1em;
  border: 4px solid rgb(108, 202, 234);
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: rgb(108, 202, 234);
  color: #f9f6f6;
  cursor: pointer;
}

.button2 {
   padding: 4px;
  font-size: 0.85em;
  border: 4px solid rgb(108, 202, 234);
  transition-duration: 0.4s;
}
.button2:hover {
  background-color: rgb(108, 202, 234);
  color: #f9f6f6;
  cursor: pointer;
}


.hourglass {
  width: 30%;
  float: left;
  animation: rotation 5s;
}

@keyframes rotation {
  50% {transform: rotate(360deg);}
}

